body {
    font-family: 'Slabo 27px', serif;
}

.centered-mid {
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%,-50%);
  
}

.box {
  width: 1000px;
  z-index: 999;
  padding: 30px;
}

input {
  color: white;
}

.edge {
  margin-top: 5px;
}

i {
  color: white;
}

.btn {
  opacity: 0.7;
}

.btn:hover {
  opacity: 1;
}

.blur {
  -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);  
}

.dropdown-button {
  width: 200px;
  text-align: center;
}

#test1, #test2 {
  padding: 10px;
}

.centered-title {
  font-size: 64px;
  text-align: center;

}

.warning-box {
  border: 5px solid grey;
}